{:deps true
 :builds       {:app {:target           :react-native
                      :output-dir       "app"
                      :init-fn          conduit.core/init

                      :compiler-options {:closure-defines
                                         {re-frame.trace/trace-enabled? true}}

                      :devtools         {:after-load   steroid.rn.core/reload
                                         :build-notify steroid.rn.core/build-notify
                                         :preloads     [re-frisk-remote.preload]}}}}