{:source-paths ["src"]

 :dependencies [[reagent "1.0.0"]
                [re-frame "0.12.0"]
                [superstructor/re-frame-fetch-fx "0.0.2"]
                [re-frisk-remote "1.5.0"]
                [rn-shadow-steroid "0.2.8"]
                [re-frame-steroid "0.1.1"]
                [cljs-bean "1.3.0"]]

 :builds       {:app {:target           :react-native
                      :output-dir       "app"
                      :init-fn          conduit.core/init

                      :compiler-options {:closure-defines
                                         {re-frame.trace/trace-enabled? true}}

                      :devtools         {:after-load   steroid.rn.core/reload
                                         :build-notify steroid.rn.core/build-notify
                                         :preloads     [re-frisk-remote.preload]}}}}